* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black; }

#buttons {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0 2px; }
  #buttons button {
    padding: 2px 10px;
    margin: 0 2px; }
